header > p {
    float:left;
    color: white;

}

.logo {
    float:left;
    padding:0px;
}

nav {
    background: darkgreen ;
    padding: 5px;
    text-align: right;
    opacity: 0.9;
    font-size: 20px;
}


nav li{
    display: inline-block;
    padding: 0 20px;
    margin-left: 10px;
}

nav li a{
    color: white;
    text-decoration: none;
}

body{
    background-image: url("Bulgaria.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;

}

.mapdiv{
    width: 110%;
    margin: auto;
    margin-top: 65px;
    margin-left: 75px;
}

.mapdiv path {
    opacity: 0.6;
    stroke: forestgreen;
    stroke-width: 2px;
    transition: 0.3s;
}

.mapdiv path:hover {
    fill: grey;
    transition: 1s;
    cursor:pointer;
    transform: scale(1);
}


footer {
    background: darkgreen ;
    font-size: 20px;
    position: sticky;
}

footer article {
    width: 40%;
    display: inline-block;
}

footer article:nth-child(2) {
    text-align: right;
}

footer article:nth-child(1) {
    text-align: center;
}

footer i {
    padding: 15px;
    color: black;
}

